.botones-carrito {
  background: #006aa6;
  border: none;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  font-size: 13px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.botones-carrito:hover{
  color: white;
  background-color: #00b0d3;
}

.total-carrito {
  font-size: 25px;
}

.list-carrito {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 10px;
}

.bottom-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-cart-empty {
  font-size: 20px;
}
