.botonAumentar {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.botonDisminuir {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.botones-detail-item {
  background: #006aa6;
  border: none;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-top: 10px;
}

.botones-detail-item:hover{
  color: white;
  background-color: #00b0d3;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.divContador {
  border: solid 1px black;
  width: fit-content;
  border-radius: 20px;
  padding: 2px;
}
